<h1>Criteria#new</h1>

<%= form_for @criterion do |f| %>
	<%= f.text_field :text, placeholder: "What's a criterion for this decision?" %>
	<%= f.collection_select :decision_id, Decision.all, :id, :text %>
	<%= f.submit %>
<% end %>